<!DOCTYPE>
<html ng-app="TreeServices">
<head>

	<meta http-equiv= "content type" content = "text/html charset= utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="tree.css">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/5.0.9/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript"></script>
	<script src="controller/controller.js"></script>

	<title>Tree Services</title>
</head>
<body>
	<div class="container" ng-controller="TreeController">
		<img ng-repeat= "slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)"  ng-src="{{slide.image}}">
		<a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    	<a class="arrow next" href="#" ng-click="prevSlide()"></a>

		<nav class="nav">
			<div class="wrapper">
				<ul class="dots">
					<li class="dot" ng-repeat="slide in slides">
	                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.desp}}</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
